{%extends 'singlepane_base.html'%}
{% block title %}Login{% endblock %}
{%block content%}
<div class='prepend-8'>
	<form action="{%url login%}" method='POST'>
	<input type='hidden' name='next' value="{{next}}"/>
	<table class='form-table'>
	    <tr><td class='form-row'><label for="id_email">Email</label></td><td class='form-row'>{{form.email}}{{form.email.errors}}</td></tr>
	    <tr><td class='form-row'><label for="id_password">Password</label></td><td class='form-row'>{{form.password}}{{form.password.errors}}</td></tr>
	    <tr><td>&nbsp;</td><td><input type='submit' name='submit' value="Log in"/></td></tr>
	</table>
	</form>
</div>
{%endblock%}