{%extends 'singlepane_base.html'%}
{%block title%}{%if modify%}Modify{%else%}Add a new{%endif%} Snippet{%endblock%}
{%block content%}
<h4>{%if modify%}Modify Snippet{%else%}Add a new Snippet.<br/><span class='small_text'>( You are anonymous! Which means, this script will be public! )</span>{%endif%}</h4>
<form action="." method='POST'>
<table class='form-table'>
    <tr><td class='form-row'><label for="id_title">Title</label></td><td class='form-row'>{{form.title}}<br/>{{form.title.errors}}</td></tr>
    <tr><td class='form-row'><label for="id_explanation">Explanation</label></td><td class='form-row'>{{form.explanation}}{{form.explanation.errors}}</td></tr>
    <tr><td class='form-row'><label for="id_code">Code</label></td><td class='form-row'>{{form.code}}{{form.code.errors}}</td></tr>
    <tr><td class='form-row'><label for="id_public">Make Code Public</label></td><td class='form-row'>{{form.public}}{{form.public.errors}}</td></tr>
    <tr><td class='form-row'><label for="id_lang">Language</label></td><td class='form-row'>{{form.lang}}{{form.lang.errors}}</td></tr>
    <tr><td class='form-row'><label for="id_tags">Tags</label></td><td class='form-row'>{{form.tags}}{{form.tags.errors}}</td></tr>
    <tr><td>&nbsp;</td><td><input type='submit' name='submit' value='{%if modify%}Modify{%else%}Add{%endif%} Snippet'/></td></tr>
</table>
</form>
<a href='{%url all_snippets%}'>All Snippets</a>
{%endblock%}