{%extends 'singlepane_base.html'%}
{%block title%}List Snippets{%endblock%}
{%block content%}
<link href="{%url feeds 'snippets'%}" title="Latest Snippets - RSS - ZeShare" type="application/rss+xml" rel="alternate">
<h3>List of Snippets</h3>
<ul>
<!-- There is a reason why I didn't use snippet.get_absolute_url -->
{%for snippet in snippets.object_list%}
    <li><a href="{%url snippet_profile snippet_id=snippet.id snippet_slug=snippet.slug%}">{{snippet.title|title}}</a></li>
{%empty%}
    <li>No Snippets as of now. <a href='{%url add_snippet%}'>Want to create ?</a></li>
{%endfor%}
</ul>
{%pagination snippets%}
{%endblock%}