{%extends 'singlepane_base.html'%}
{%block title%}Search Code Snippets{%endblock%}
{%block content%}
<form action='.' method='POST'>
<table class='form-table'>
    <tr><td class='form-row'><label for="id_query">Search</label></td><td class='form-row'>{{form.query}}{{form.query.errors}}</td></tr>
    <tr><td>&nbsp;</td><td><input type='submit' value='Search Snippets' name='submit'/></td></tr>
</table>
</form>
{%with snippets.object_list as snippet_results%}
	{%if snippet_results%}
	    <ul>
	    {%for snippet in snippet_results%}
	        <li><a href="{%url snippet_profile snippet_id=snippet.id snippet_slug=snippet.slug%}">{{snippet.title|title}}</a></li>
		{%endfor%}
		{%block pagination%}
			{%if snippets.has_previous%}
			  <a href='?page={{snippets.previous_page_number}}'>Previous</a>
			{%endif%}
			  <b>You are at {{snippets.number}} page</b>
			{%if snippets.has_next%}
			  <a href='?page={{snippets.next_page_number}}'>Next</a>
			{%endif%}
		{%endblock%}
		</ul>
	{%endif%}
{%endwith%}
{%endblock%}