{%extends 'singlepane_base.html'%}
{% block title %}{{snippet.title|title}}{% endblock %}
{%block extrastyle%}
<link rel="stylesheet" type="text/css" media="screen" href="/site_media/css/pygments/monokai.css"/>
<link rel="stylesheet" type="text/css" media="print" href="/site_media/css/blueprint/print.css"/>
{%endblock%}
{%block content%}
{{message}}
This is the snippet profile page<br/>
Title:{{snippet.title|title}}<br/>
{%if owner %}
Actions:<a href='{%url modify_snippet%}'>Modify Snippet</a>
{%endif%}
<div class='snippet'>{{snippet.highlight|safe}}</div>
<a href="{%url all_snippets%}">All Snippets</a>
{%endblock%}