{%extends 'singlepane_base.html'%}
{% block title %}{{snippet.title|title}}{% endblock %}
{%block extrastyle%}
<link rel="stylesheet" type="text/css" media="screen" href="/site_media/css/pygments/tango.css"/>
<link rel="stylesheet" type="text/css" media="print" href="/site_media/css/blueprint/print.css"/>
{%endblock%}
{%block content%}
<div id='snippet_content'>
{{message}}
<h3><a href='{%url snippet_profile snippet.id snippet.slug%}'>{{snippet.title|title}}</a></h3>
<div id='snippet_description'>{{snippet.explanation}}</div>
{%if owner %}
<a onClick="javascript:document.location.href='{%url modify_snippet snippet.id snippet.slug%}'" href="javascript:;">Edit</a>&nbsp;|&nbsp;
<a onClick="javascript:document.location.href='{%url delete_snippet snippet.id snippet.slug%}'" href="javascript:;">Delete</a>&nbsp;|&nbsp;
{%endif%}
<div class='snippet'>{{snippet.highlight|safe}}</div>
{%for tag in snippet.tags%}
<span class="tag">{{tag.name}}</span>&nbsp;&nbsp;
{%endfor%}
<br/><br/>
<h5><a href="{%url all_snippets%}">All Snippets</a></h5>
</div>
{%endblock%}