<div class='column span-10'>
    <a title='Home' href='{%url homepage%}' id='logo'>
        <img src='/site_media/img/zeshare_130x64.png' alt='zeshare'/>
    </a>
</div>
<div id='header_toplinks' class='column push-1'>
    <ul>
        <li><a href='{%url homepage%}'>Home</a></li>
        {%if user.is_authenticated%}
            {%with user.get_profile as userprofile%}
               <li>Hi , {%firstof userprofile.name userprofile.email%}</li>
               <li><a href='{%url logout%}'>Logout</a></li>
            {%endwith%}
        {%else%}
           <li><a href='{%url register%}'>Register</a></li>
           <li><a href='{%url login%}'>Login</a></li>
        {%endif%}
        <li><a href='{%url search_snippets%}'>Search</a></li>
        <li><a href='/site_media/html/about.html'>About</a></li>
    </ul>
</div>
<div id='github_ribbon'>
    <a title='Fork Me on Github' href="http://github.com/madhav/zeshare/"><img alt='Fork Me On Github' style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
</div>