{%extends 'singlepane_base.html'%}
{% block title %}Home{% endblock %}
{%block content%}
<p>ZeShare is a small "code sharing" * application. And can also be used as</p>
<ul>
<li>Ask business related questions</li>
<li>Ask programming puzzles and let people crack it and find the talent</li>
<li>Ask for volunteering to any project/work</li>
<li>Any other lateral ways to use this? Please let me know!</li>
</ul>
* Supported Languages: 
<ul>
    <li>Python</li>
    <li>Sql</li>
    <li>Html</li>
    <li>Javascript</li>
</ul> 
Browse:
<br/>
<ul>
<li><a href="{%url all_snippets%}">All Snippets</a></li>
<li><a href="{%url recent_snippets%}">Recently Added Snippets</a></li>
<li><a href="{%url all_users%}">All Users</a></li>
<li><a href="{%url add_snippet%}">Add Snippet</a></li>
</ul>
{%endblock%}